<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
</head>

<body>
    <div class="setup">
        <form id="setup-form">
            <input type="text" name="clientID" placeholder="Plaid Client ID" required />
            <input type="password" name="secret" placeholder="Plaid Secret" required />
            <button type="submit">Save & Verify</button>
        </form>
    </div>
    <button id="link-btn">Link Account</button>
    <div class="connections"></div>
</body>

</html>