<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form id="setup-form">
        <input type="text" id="clinetID" placeholder="Plaid Client ID" required />
        <input type="password" id="secret" placeholder="Plaid Secret" required/>
        <button type="submit" id="submitBtn">Save & Verify</button>
    </form>
</body>
</html>