{% include "partials/setup-form.html.jinja" %}

{# Refresh the linking panel along with the verified credentials summary. #}
<div id="link-account-container" hx-swap-oob="innerHTML">
    {% include "partials/link-account.html.jinja" %}
</div>
